.config-btn {
  border: solid #1e90ff 3px;
  border-radius: 10px;
  background-color: unset;
  font-size: 1.3em;
  padding: 15px 30px;
  margin: 1em 0;
  color: #1e90ff;

  &:hover {
    background-color: #1e90ff;
    color: black;
    cursor: pointer;
  }

  &:disabled {
    border: solid #155391 3px;
    color: #155391;

    &:hover {
      cursor: not-allowed;
    }
  }
}
