@use "../../../styles/colours";
@use "../../../styles/variables";
@use "../../../styles/fonts";

.config-btn {
  border: solid colours.$primary 3px;
  border-radius: variables.$border-rad;
  background-color: unset;
  font-size: fonts.$md;
  padding: 15px 30px;
  margin: 1em 0;
  color: colours.$primary;

  &:hover {
    background-color: colours.$primary;
    color: black;
    cursor: pointer;
  }

  &:disabled {
    border: solid colours.$primary-muted 3px;
    color: colours.$primary-muted;

    &:hover {
      cursor: not-allowed;
      background-color: unset;
    }
  }
}
