select {
  font-size: 1.2em;
  padding: 5px;
  display: block;
  margin: 0.7em auto;
  min-width: 15em;
  border-radius: 5px;
  background-color: #3f3f3f;
  color: inherit;
}

.configs {
  border: solid #3f3f3f 3px;
  border-radius: 10px;
  max-width: 350px;
  margin: 0.5em auto;
}

.configs:hover {
  cursor: pointer;
  border-color: #333ea0;
}

.selected {
  border: solid #1e90ff 3px;
  border-radius: 10px;
  max-width: 350px;
  margin: 0.5em auto;
}

.config-btn {
  border: solid #1e90ff 3px;
  border-radius: 10px;
  background-color: unset;
  font-size: 1.3em;
  padding: 15px 30px;
  margin: 1em 0;
  color: #1e90ff;
}

.config-btn:hover {
  background-color: #1e90ff;
  color: black;
  cursor: pointer;
}
