@use "../../styles/colours";
@use "../../styles/variables";
@use "../../styles/fonts";

.acc-page {
  display: flex;
  flex-direction: column;
  gap: variables.$base-gap;
  align-items: center;
  margin-top: 2em;
}

.success-text {
  font-size: fonts.$lg;
  color: colours.$success;
  padding: 0.5em 1em;
  border: solid colours.$success 3px;
  border-radius: variables.$border-rad;
}
