.acc-page {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  margin-top: 2em;
}

.success-text {
  font-size: 1.5em;
  color: #11c211;
  padding: 0.5em 1em;
  border: solid #11c211 3px;
  border-radius: 10px;
}
