$base-gap: 1em;
$width-I: 350px;

$margin-xs: 0.25em;
$margin-sm: 0.5em;
$base-margin: 1em;
$margin-lg: 2em;
$margin-xl: 3em;

$padding-xs: 0.25em;
$padding-sm: 0.5em;
$base-padding: 0.75em;
$padding-lg: 1em;
$padding-xl: 1.5em;

$border-rad: 10px;
$border-width: 3px;
