.App {
  text-align: center;
}

.circle {
  margin: 10px auto;
  width: 50px;
  height: 50px;
  background-color: #1e90ff;
  border-radius: 50%;
}

.circle-btn {
  height: 6em;
  width: 6em;
  border: 3px solid #1e90ff;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-btn:hover {
  cursor: pointer;
  background-color: #1e90ff;
  color: black;
}

.recharts-wrapper {
  position: relative;
  cursor: default;
  width: 350px;
  height: 250px;
  margin: 0 auto;
}

.recharts-label {
  transform: rotate(-90deg) translate(-170px, -90px);
}
