.App {
  text-align: center;
}

.circle {
  margin: 10px auto;
  width: 50px;
  height: 50px;
  background-color: #1e90ff;
  border-radius: 50%;
}

.recharts-wrapper {
  position: relative;
  cursor: default;
  width: 350px;
  height: 250px;
  margin: 0 auto;
}

.recharts-label {
  transform: rotate(-90deg) translate(-170px, -90px);
}
