.circle {
  margin: 10px auto;
  width: 50px;
  height: 50px;
  background-color: #1e90ff;
  border-radius: 50%;
}

.acc-summary {
  border: solid #3f3f3f 3px;
  border-radius: 10px;
  max-width: 350px;
  margin: 0.5em auto;
  padding: 0.75em 0;

  .acc-id,
  .acc-balance,
  .cag-balance {
    display: flex;
    justify-content: center;
    gap: 1em;

    p {
      margin: 0.3em 0;
    }
  }

  .acc-id {
    font-weight: bold;
    color: #62abf5;
  }

  .cag-balance {
    font-size: 1.2em;
    font-weight: bold;
  }
}
