@use "../../../styles/colours";
@use "../../../styles/variables";
@use "../../../styles/fonts";

.circle {
  margin: 10px auto;
  width: 50px;
  height: 50px;
  background-color: colours.$primary;
  border-radius: 50%;
}

.acc-summary {
  border: solid colours.$dark-II 3px;
  border-radius: variables.$border-rad;
  max-width: 350px;
  margin: 0.5em auto;
  padding: 0.75em 0;

  .acc-id,
  .acc-balance,
  .cag-balance {
    display: flex;
    justify-content: center;
    gap: variables.$base-gap;

    p {
      margin: 0.3em 0;
    }
  }

  .acc-id {
    font-weight: bold;
    color: colours.$primary;
  }

  .cag-balance {
    font-size: fonts.$md;
    font-weight: bold;
  }
}
