@use "../../styles/colours";
@use "../../styles/variables";

.selected-vehicle {
  border: solid colours.$dark-II 3px;
  border-radius: variables.$border-rad;
  max-width: 350px;
  margin: 0.5em auto;
}
