.calc-btn {
  border: solid #1e90ff 3px;
  border-radius: 10px;
  background-color: unset;
  font-size: 1.3em;
  padding: 15px 30px;
  margin: 0 0 0.5em;
  color: #1e90ff;
}

.calc-btn:hover {
  background-color: #1e90ff;
  color: black;
  cursor: pointer;
}

.result {
  margin-bottom: 5em;
}
